<div class="authContainer">
	<div class="container">	
		<div class="logoContainer">
			<img class="logo" src="assets/main_logo.png">
		</div>

		<div class="authComponent">

			<div class="signIn" *ngIf="!newUser">

				<div class="userEmailSignIn" *ngIf="!venueSignIn">
					
					<h3 class="signin_text">USER SIGN IN</h3>

					<form #emailSign="ngForm" (ngSubmit)="emailLogin(emailSign.value)" class="loginForm">
						<div class="form-group">
							<label>Email</label>
							<input type="text" name="email" ngModel>
						</div>

						<div class="form-group">
							<label>Password</label>
							<input type="password" name="password" ngModel>
						</div>

						<span class="forgot_password">Forgot Password?</span>

						<button class="btn loginBtn" type="submit">Log In</button>
					</form>
				</div>
				
				<div class="venueSignIn" *ngIf="venueSignIn">
					
					<h3 class="signin_text">VENUE SIGN IN</h3>

					<form #venueLoginForm="ngForm" (ngSubmit)="emailLogin(venueLoginForm.value)" class="loginForm">
						<div class="form-group">
							<label>Email</label>
							<input type="text" name="email" ngModel>
						</div>

						<div class="form-group">
							<label>Password</label>
							<input type="password" name="password" ngModel>
						</div>

						<button class="btn loginBtn" type="submit">Log In</button>
					</form>
				</div>

				<!--
					<button class="googleAuth btn" (click)="googleLogin();">Sign In with Google</button>
					<button class="fbAuth btn" (click)="fbLogin();">Sign In with Facebook</button>
				-->

				<span *ngIf="!venueSignIn" (click)="venueSignIn = true">Venue Sign-In</span>
				<span *ngIf="venueSignIn" (click)="venueSignIn = false">User Sign-In</span>

				<span class="noAccount" (click)="showSignUp();">Don't have an account?</span>
			</div>

			<div class="signUp" *ngIf="newUser">

				<h3>SIGN UP AS: </h3>
				
				<!-- Show different options for reg users and venues --> 
				<div class="account_type" *ngIf="!userSignUp">
					<button mat-raised-button routerLink="/venue-signup">Venue</button>
					<button mat-raised-button (click)="showUserSignUp();">User</button>
				</div>

				<div *ngIf="userSignUp" class="user_sign_up">

					<!-- Old user sign up form
						<div class="userSignIn">
							<form #userSignupForm="ngForm" (ngSubmit)="emailSignup(userSignupForm.value)" class="signupForm">
								<div class="form-group">
									<label>Email</label>
									<input type="text" name="email" ngModel>
								</div>

								<div class="form-group">
									<label>Password</label>
									<input type="password" name="password" ngModel>
								</div>

								<button class="btn loginBtn" type="submit">Sign Up</button>
							</form>
						</div>
					-->

					<!-- Stepper start -->
						<mat-vertical-stepper class="signup_steps" [linear]="isLinear">
						  <mat-step [stepControl]="firstFormGroup">
						    <form [formGroup]="firstFormGroup">
						      <ng-template matStepLabel class="step_label">Fill out your email address</ng-template>
						      <mat-form-field>
						        <input matInput placeholder="Email" formControlName="email" required>
						      </mat-form-field>
						      <div>
						        <button mat-button matStepperNext>Next</button>
						      </div>
						    </form>
						  </mat-step>

						  <mat-step [stepControl]="secondFormGroup">
						    <form [formGroup]="secondFormGroup">
						      <ng-template matStepLabel>Fill out your name</ng-template>
						      <mat-form-field>
						        <input matInput placeholder="First name, Last name" formControlName="displayName" required>
						      </mat-form-field>
						      <div>
						        <button mat-button matStepperPrevious>Back</button>
						        <button mat-button matStepperNext>Next</button>
						      </div>
						    </form>
						  </mat-step>

						  <mat-step [stepControl]="thirdFormGroup">
						    <form [formGroup]="thirdFormGroup">
						      <ng-template matStepLabel>Create Password</ng-template>
						      <mat-form-field>
						        <input matInput type="password" placeholder="Password" formControlName="password" required>
						      </mat-form-field>
						      <div>
						        <button mat-button matStepperPrevious>Back</button>
						        <button mat-button matStepperNext>Next</button>
						      </div>
						    </form>
						  </mat-step>

						  <mat-step [stepControl]="fourthFormGroup">
						    <form [formGroup]="fourthFormGroup">
						      <ng-template matStepLabel>Birthday</ng-template>
						      <mat-form-field>
						        <input matInput type="date" formControlName="birthday" required>
						      </mat-form-field>
						      <div>
						        <button mat-button matStepperPrevious>Back</button>
						        <button mat-button matStepperNext>Next</button>
						      </div>
						    </form>
						  </mat-step>

						  <mat-step [stepControl]="fifthFormGroup">
						    <form [formGroup]="fifthFormGroup">
						      <ng-template matStepLabel>Sex</ng-template>
						      <mat-form-field>
						        <mat-select placeholder="Sex" formControlName="sex">
									<mat-option value="male">
										Male
									</mat-option>

									<mat-option value="female">
										Female
									</mat-option>
								</mat-select>
						      </mat-form-field>
						      <div>
						        <button mat-button matStepperPrevious>Back</button>
						        <button mat-button matStepperNext>Next</button>
						      </div>
						    </form>
						  </mat-step>

					  	<!-- hide this for now as we don't want to draw out the user onboarding process
						  <mat-step [stepControl]="sixthFormGroup">
						    <form [formGroup]="sixthFormGroup">
						      <ng-template matStepLabel>Card</ng-template>
						      <mat-form-field>
						        <input matInput formControlName="cardInfo" required>
						      </mat-form-field>
						      <div>
						        <button mat-button matStepperPrevious>Back</button>
						        <button mat-button matStepperNext>Next</button>
						      </div>
						    </form>
						  </mat-step>
						-->

						  <mat-step>
						    <ng-template matStepLabel>Done</ng-template>
						    You are now done.
						    <div>
						      <button mat-button matStepperPrevious>Back</button>
						      <button mat-button (click)="emailSignup()">Finish</button>
						    </div>
						  </mat-step>
						</mat-vertical-stepper>
					<!-- Stepper end -->

				</div>

				<span class="hasAccount" (click)="showLogin();">Already have an account? Sign In Instead</span>
			</div>

		</div>

	</div>
</div>