<div class="top-nav sticky-top">
	<!--
		<button (click)="goBack();">Go Back</button>
	-->

	<i class="fa fa-lg fa-chevron-left" aria-hidden="true" (click)="goBack();"></i>

	<i class="fa fa-lg fa-bars" aria-hidden="true"></i>
</div>

<div class="venue-component">

	<div class="venue_details_container" *ngIf="venue.payload">

		<img class="venue_image" [src]="venue.payload.val().imageUrl">

		<div class="details">
			<span class="name">{{venue.payload.val().name}}</span>

			<div class="distance_and_address">
				<span class="distance">10 km away</span> - <span class="address">{{venue.payload.val().address}}</span>
			</div>
		</div>
	</div>

	<!-- Venue events -->
	<div class="events">
		<h4>Upcoming Events</h4>

		<table class="table table-striped">
			<tr>
				<th>Event Name</th>
				<th>Date</th>
			</tr>

				<!-- Repeat this row below --> 
				<tr *ngFor="let event of events$ | async" (click)="getEventDetails(event);">
					<td>{{event.payload.val().name}}</td>
					<td>{{event.payload.val().date | date:'medium'}}</td>
				</tr>

			<div class="events-loading">
				<!--
					<md-spinner *ngIf="!events"></md-spinner>
				-->
			</div>
		</table>

		<!--	
			<div class="show-details" *ngIf="showDetails">
				<div class="modal-contents">
					<button type="button" class="close" (click)="hideDetails()" aria-label="Close"><span aria-hidden="true">&times;</span></button>

					<img class="promoImage" [src]="spotlightEvent.promoImage">
					
					<h4>{{spotlightEvent.name}}</h4>

					<p class="event-description">{{spotlightEvent.description}}</p>

					<div class="buttons">
						<button class="btn btn-primary" (click)="attendEvent();">Attend</button>
						<button class="btn btn-default" (click)="getGuestList(spotlightEvent)">Maybe</button>
					</div>

					
					<div class="guest-list">
						<h5>Your friends that are attending: </h5>
						<span *ngFor="let guest of guestList | async">{{guest.$value}}</span>
					</div>
				</div>
			</div>
		-->
	</div>
</div>
<app-footer></app-footer>