.top-nav{
	background-color: black;
	color: #ea7a3b;
	display: flex;
	justify-content: space-between;
}

.top-nav .fa{
	padding: 10px;
}

.venue-component{
	text-align: center;
	background-color: black;
    color: #fff;
	height: 100%;
}

.venue_image{
	height: 300px;
	width: 100%;
}

.venue_details_container .details{
	margin-top: -50px;
    color: #fff;
    background-color: #000000a6;
    position: relative;
    padding-left: 20px;
}

.events-loading{
	display: flex;
	widows: 100%;
	justify-content: center;
}

.events{
	background-color: black;
	padding-top: 40px;
	padding-bottom: 80px;
}

.events h4{
	margin-top: 8px;
}

.menu{
    padding-top: 40px;
}

.menu_items{
	text-align: left;
}

.btn.make_rsrv{
	color: #fff;
	background-color: #ea7a3b;
}