.feed_item_container{
	background-color: black;
	height: 100%;
	padding-bottom: 10px;
}

.back_btn{
	background-color: #d98451;
	border-radius: 0px;
    padding: 5px 10px;
    margin-bottom: 10px;
    width: 50px;
    margin-top: 5px;
    margin-left: 5px;
}

.feed_item{
	margin-bottom: 40px;
}

.feed_item_header{
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #e18047;
}

.time{
	padding-bottom: 5px;
    margin-right: 10px;
    color: grey;
}

.uploader_image{
	height: 50px;
    width: 50px;
	margin-left: 8px;
    margin-right: 25px;
}

.media_container{
	display: flex;
    flex-direction: column;
    align-items: center;
}

.media_image{
	width: 350px;
	height: 350px;
}

.media_footer{
	padding: 10px;
	align-self: start;
}

.media_footer i{
	padding: 10px 20px;
	color: #e18047;
}

.reactions{
	color: #fff;
}

.reactions .comment_text{
	font-weight: lighter;
    color: #ccc;
}

.new_comment, .new_comment_btn{
	border-radius: 0px;
}

.new_comment_container{
	z-index: 1;
}

@media only screen and (max-width: 340px) {
	.uploader_image{
		margin-right: 10px !important;
	}

	.media_image{
		width: 100%;
	}

	.uploadedBy, .time{
		font-size: 14px !important;
	}
}