.feed_item_container{
	background-color: black;
	height: 100vh;
	padding-bottom: 70px;
}

.back_btn{
	background-color: #d98451;
	border-radius: 0px;
    padding: 5px 10px;
    margin-bottom: 10px;
    width: 50px;
    margin-top: 5px;
    margin-left: 5px;
}

.feed_item{
	margin-bottom: 40px;
}

.feed_item_header{
	margin-bottom: 10px;
	color: #e18047;
}

.uploader_image{
	height: 50px;
    width: 50px;
	margin-left: 8px;
    margin-right: 25px;
}

.media_container{
	display: flex;
    flex-direction: column;
    align-items: center;
}

.media_image{
	width: 400px;
	height: 350px;
}

.media_footer{
	padding: 10px;
	align-self: start;
}

.media_footer i{
	padding: 10px 20px;
	color: #e18047;
}

.reactions{
	color: #fff;
}

.reactions .comment_text{
	font-weight: lighter;
    color: #ccc;
}