.message_details_container{
	background-color: black;
	color: #fff;
	height: 100%;
}

.nav_header{
	display: flex;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    color: #ea7a3b;
    background-color: black;
    box-shadow: 0px 1px 2px 0px;
}

.messages{
	padding: 10px;
	margin-bottom: 140px;
}

.message{
	display: flex;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
}

.image_and_text{
	display: flex;
	width: 75%;
	align-items: center;
}

.my_image_and_text{
	flex-direction: row-reverse;
}

.my_image_and_text .sender_image{
	margin-left: 10px;
	margin-right: 0px;
}

.time_sent{
	color: #ccc;
    font-size: 12px;
}

.message_text{
	padding: 10px;
    border-radius: 10px;
}

.sent_by_other{
	
}

.others_message{
	background-color: #f0efef;
    color: #000;
}

.sent_by_me{
	flex-direction: row-reverse;
}

.my_message{
	background-color: #ea7a3b;
    color: #fff;
}

.sender_image{
	height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.message_controls{
    width: 100%;
    padding: 0 5px;
    position: fixed;
    bottom: 70px;
}

.message_controls input{
	width: 92%;
}

.send_icon{
	color: #ea7a3b;
	margin-left: 4px;
}