<div class="message_details_container">
	
	<!-- Nav header start -->
	<div class="nav_header sticky-top">
		
		<i class="fa fa-chevron-left fa-2x" (click)="goBack();"></i>

		<h5>{{threadId | userDisplayName | async}}</h5>

		<i class="fa fa-info-circle fa-2x" aria-hidden="true"></i>

	</div>
	<!-- Nav header end -->

	<!-- Message thread start -->
	<div class="messages">
		
		<!-- Repeat this for each message -->
		<div class="message" *ngFor="let message of messages | async" [ngClass]="{
			'sent_by_me': message.senderId == userUID,
			'sent_by_other': message.senderId !== userUID
		}">
			
			<div class="image_and_text" [ngClass]="{
				'my_image_and_text': message.senderId == userUID,
				'others_image_and_text': message.senderId !== userUID
			}">

				<!-- hide this image for my messages -->
				<img class="sender_image" [src]="(message.senderId | userImageUrl | async) ? (message.senderId | userImageUrl | async) : 'assets/profile-placeholder.jpg'" alt="sender image" />

				<!-- toggle class below based on sender -->
				<!-- message text -->
				<div class="message_text" [ngClass]="{
					'my_message': message.senderId == userUID,
					'others_message': message.senderId !== userUID
				}">
					{{message.text}}
				</div>
				<!-- message text ends -->
			</div>

			<!-- Time sent start -->
			<div class="time_sent">
				{{message.timeSent| date:'shortTime'}}
			</div>
			<!-- Time sent end -->

		</div>
		<!-- End repeat -->
	</div>
	<!-- Message thread end -->

	<!-- Message controls start -->
	<form class="message_controls">
		<input class="enter_message" type="text" name="message" placeholder="Type a message..." [(ngModel)]="message" autocomplete="off">
		<button class="btn" type="submit" [disabled]="message == ''" (click)="sendMessage(message); message = ''">
			<i class="fa fa-paper-plane send_icon" aria-hidden="true"></i>
		</button>
	</form>
	<!-- Message controls end -->
</div>

<app-footer></app-footer>