.header{
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.purchaseMethod{
	margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.select_by_event{
	margin-bottom: 20px;
}

.select_by_event label{
	font-size: 15px;
    font-weight: bold;
}

.card-body i{
    color: grey;
}

mat-dialog-actions{
    justify-content: space-around;
}

.sub_btn{
	background-color: #ea7a3b;
	color: #fff;
}