.venue_image{
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.venue_details_container .details{
	margin-top: -73px;
    color: #fff;
    background-color: #00000087;
    position: relative;
    padding-left: 20px;
}