<div class="top-nav sticky-top">
	<i class="fa fa-lg fa-chevron-left" aria-hidden="true" (click)="activeModal.dismiss('Cross click');"></i>

	<h5 *ngIf="event !== 'message'">Invite Friends</h5>

	<h5 *ngIf="event == 'message'">Select Friends</h5>

	<i class="fa fa-lg fa-search" aria-hidden="true"></i>
</div>

<div class="view_friends_container">
	<div class="friends_list">
		<!--{{buddies | async | json}}-->
		<!-- repeat for each friend -->
		<div class="friend" *ngFor="let buddy of buddies | async" [routerLink]="['/user-profile', buddy.payload.val()]" (click)="activeModal.dismiss('Cross click');">
			<img class="friend_image" [src]="(message.key | userImageUrl | async) ? (message.key | userImageUrl | async) : 'assets/profile-placeholder.jpg'" />

			<span class="friend_name">{{buddy.payload.val() | userDisplayName | async}}</span>
		</div>
	</div>
</div>