<div class="top_nav sticky-top">
	<i class="fa fa-lg fa-chevron-left" (click)="goBack()"></i>
</div>
<div class="createEvent">
	<h2>Create New Venue</h2>

	<form 
		[formGroup]="venueForm"
		(ngSubmit)="subTest(venueForm.value)">

		<div class="form-group">
			<label for="name">Venue Name</label>
			<input type="text" name="name" placeholder="Hip Central" [formControl]="venueForm.controls['name']" />

			<!-- error message display code -->
			<div *ngIf="!venueForm.controls['name'].valid && venueForm.controls['name'].touched"
				class="bg-danger error">Venue name is invalid</div>
			<div class="bg-danger error" *ngIf="venueForm.controls['name'].hasError('required') && venueForm.controls['name'].touched">Venue name is required</div>
		</div>

		<div class="form-group">
			<label>Address: </label>
			<input type="text" name="address" placeholder="123 middle of nowhere" id="address" [formControl]="venueForm.controls['address']" #address autocomplete="false">

			<!-- error message display code -->
			<div *ngIf="!venueForm.controls['address'].valid && venueForm.controls['address'].touched"
				class="bg-danger error">Venue address is invalid</div>
			<div class="bg-danger error" *ngIf="venueForm.controls['address'].hasError('required') && venueForm.controls['address'].touched">Venue address is required</div>
		</div>

		<div class="form-group">
			<label>Hours</label>
			<input type="text" name="hours" placeholder="9pm - 4pm" id="hours" [formControl]="venueForm.controls['hours']">

			<!-- error message display code -->
			<div *ngIf="!venueForm.controls['hours'].valid && venueForm.controls['hours'].touched"
				class="bg-danger error">Venue hours is invalid</div>
			<div class="bg-danger error" *ngIf="venueForm.controls['hours'].hasError('required') && venueForm.controls['hours'].touched">Venue hours is required</div>
		</div>

		<div class="form-group">
			<label>Image</label>

			<span class="btn btn-secondary" (click)="imageSrc('url')">From Url</span>

			<span class="btn btn-secondary" (click)="imageSrc('file')">Upload File</span>

			<!-- Show this if they want to upload via url -->
			<input *ngIf="imageSource === 'url'" type="text" name="imageUrl" placeholder="www.image.com" id="imageUrl" [formControl]="venueForm.controls['imageUrl']">

			<!-- Show this if they want to upload via file upload -->
			<input *ngIf="imageSource === 'file'" id="imageUrl" name="imageUrl" type="file" (change)="detectFiles($event)"/>

			<!-- error message display code -->
			<div *ngIf="!venueForm.controls['imageUrl'].valid && venueForm.controls['imageUrl'].touched"
				class="bg-danger error">Venue imageUrl is invalid</div>
			<div class="bg-danger error" *ngIf="venueForm.controls['imageUrl'].hasError('required') && venueForm.controls['imageUrl'].touched">Venue imageUrl is required</div>
		</div>

		<div class="cta_btns">
			<span class="btn btn-warning">Cancel</span>
			<button [disabled]="!venueForm.valid" class="btn btn-success" type="submit">Create Venue</button>
		</div>
	</form>
</div>

<app-footer></app-footer>