<div class="header">
	<h3 class="title">Make Reservation</h3>
	<i class="fa fa-times" (click)="close()"></i>
</div>


<div class="bottle_service_component">
	<form #bottleServiceForm="ngForm" (submit)="checkOrder(bottleServiceForm.value);" *ngIf="!processingPayment">
		<div class="form-group">
			<label>Number Of Guests</label>
			<select name="numofGuests" [(ngModel)]="guestsNum">
				<option [ngValue]="1">1</option>
				<option [ngValue]="2">2</option>
				<option [ngValue]="3">3</option>
				<option [ngValue]="4">4</option>
				<option [ngValue]="5">5</option>
				<option [ngValue]="6">6</option>
				<option [ngValue]="7">7</option>
				<option [ngValue]="8">8+</option>
			</select>
		</div>

		<div class="form-group">
			<label>Date Of Reservation</label>
			<input (ngModelChange)="dateChanged($event)" type="date" name="date" ngModel>

			<!-- message section that tells user how many booths are STILL available for a given night -->
			<div class="booths_available_container" *ngIf="boothsAvailable !== undefined">
				<span>Booths available: </span>
				<span class="available_count">{{ boothsAvailable }}</span>
			</div>
		</div>

		<div class="form-group">
			<label>Select Bottles</label>

			<table class="table table-striped menu_items">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Name</th>
						<th scope="col">Price</th>
						<th scope="col">Quantity</th>
						<th scope="col">Add</th>
					</tr>
				</thead>

				<tbody>
					<tr class="menu_item" *ngFor="let item of menu; index as i;">
						<td>{{item.payload.val().name}}</td>
						<td>${{item.payload.val().price}}</td>
						<td><input type="number" name="bottleCount" class="bottle_count" ngModel #bottleCount="ngModel"></td>
						<td> <i class="fa fa-cart-plus" (click)="addToCart(item, bottleCount.value)"></i></td>
					</tr>
				</tbody>
			</table>
		</div>

		<!-- Cart starts -->
		<div class="card cartContents">

			<div class="card-header">
				<span class="headerTitle">Cart</span>
				<!--
					<span class="totalCost float-right">Total: ${{totalCost}}</span>
				-->
			</div>

			<!-- help/disclaimer message -->
			<i class="cartMsg">Your account doesn't get charged till your QR code is scanned by a waiter <b>at the venue</b></i>

			<div *ngFor="let bottle of cart; index as ind" class="cartItem">
				<span>{{bottle.name}} - {{bottle.quantity}} <i class="fas fa-wine-bottle"></i> - ${{bottle.value * bottle.quantity}}</span>
				<i class="fa fa-times" (click)="remove(ind);"></i>
			</div>

			<!-- cart breakdown section(taxes and such) -->
			<hr class="cart_breakdown">

			<div class="breakdown_container" *ngIf="cart.length > 0">
				<h5>Payment Details</h5>

				<div>
					<span class="total label">Cart Value: </span>
					<span class="val" *ngIf="totalCost">${{totalCost.toFixed(2)}}</span>
				</div>

				<div>
					<span class="tax label">Tax: </span>
					<span class="val" *ngIf="tax">${{tax.toFixed(2)}}</span>
				</div>

				<div>
					<span class="label">Subtotal: </span>
					<span class="subtotal" *ngIf="totalCost">${{(totalCost + tax).toFixed(2)}}</span>
				</div>
			</div>

			<!-- show this section if cart is empty -->
			<div *ngIf="cart.length < 1" class="empty_cart">
				YOUR CART IS EMPTY
			</div>
		</div>
		<!-- Cart ends -->

		<div class="button_container">
			<button class="btn place_order_btn" [disabled]="minError" click="placeOrder(bottleServiceForm.value); bottleServiceForm.reset();">Place Order</button>

			<!-- show this message if minimum amount spend isn't reached -->
			<span class="min_spend_error" *ngIf="minError && cart.length > 0">Minimum spend amount of ${{minSpend}} not reached, try adding an extra item to your cart</span>
		</div>

	</form>

	<mat-spinner *ngIf="processingPayment"></mat-spinner>
</div>
