.attending_notif_container{
    display: flex;
    justify-content: space-around;
}

.user_info img{
    height: 65px;
    width: 65px;
    border: 1px solid white;
}

.user_info{
	display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
    text-align: center;
}

.going{
	font-size: 15px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
}
.going .timeAgo{
    color: #cccc;
}

.place{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.place img{
    height: 65px;
    width: 65px;
    border: 1px solid;
}