.photos span{
	padding: 0px;
}
.photos img, .photos video{
	width: 100%;
	height: 200px;
}
.deleteIcon{
	color: #fff;
    position: relative;
    bottom: 195px;
    left: 150px;
    cursor: pointer;
}
.no-photos{
	color: #fff;
}
