<div class="container">
	<!-- repeat photos that belong to particular user -->
	<div class="row photos">
		<span class="col-6" *ngFor="let media of myMedia | async">

			<!-- if media is image, show below -->
			<img
				*ngIf="media.payload.val().type !== 'video/mp4' && media.payload.val().type !== 'video/quicktime' && media.payload.val().type !== 'checkin'"
				class="media_image"
				[src]="media.payload.val().url"
				(click)="toggleMenu()">

			<!-- if media is video, show below -->
			<video
				*ngIf="media.payload.val().type == 'video/mp4' || media.payload.val().type == 'video/quicktime'"
				class="media_image"
				controls
				[src]="media.payload.val().url"
				(click)="toggleMenu()"></video>

			<i class="fa fa-2x fa-trash deleteIcon"
				(click)="deleteMedia(media);"
				*ngIf="menu"></i>
		</span>
	</div>

	<!-- if user has no photos to retrieve show below
		<div *ngIf="myMedia | async; let photos">
			<div class="no-photos" *ngIf="photos.length === 0">
				You haven't uploaded any photos yet
			</div>
		</div>
  -->
	
	<!-- fail safe, this gets hidden automatically underneath footer IF images do exist, otherwise it is shown -->
	<div>
		<div class="no-photos">
			You haven't uploaded any photos yet
		</div>
	</div>
</div>
