.navbar{
	justify-content: space-around;
	background-color: black;
    color: #e18047;
    border-bottom: 1px solid #ccc;
}

.feed_container{
	background-color: black;
	color: #e18047;
	padding-bottom: 60px;
}

.feed_items{
	padding-top: 10px;
}
.feed_item{
	margin-bottom: 40px;
}

.feed_item_header{
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.time{
	padding-bottom: 5px;
    margin-right: 10px;
    color: grey;
}

.image-upload > input
{
    display: none;
}

.uploader_image{
	height: 50px;
    width: 50px;
	margin-left: 8px;
    margin-right: 25px;
}

.media_container{
	display: flex;
    flex-direction: column;
    align-items: center;
}

.media_image{
	width: 400px;
	height: 350px;
}

.media_footer{
	padding: 10px;
	align-self: start;
}

.media_footer i{
	padding: 10px 20px;
}

.reactions{
	color: #fff;
}

.reactions .comment_text{
	font-weight: lighter;
    color: #ccc;
}