.navbar{
	justify-content: space-around;
	background-color: black;
    color: #e18047;
    border-bottom: 1px solid #ccc;
}

.feed_container{
	background-color: black;
	color: #e18047;
	padding-bottom: 60px;
}

.feed_items{
	padding-top: 10px;
}
.feed_item{
	margin-bottom: 40px;
}

.feed_item_header{
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.feed_item_header a{
	color: #e18047 !important;
}

.time{
	padding-bottom: 5px;
    margin-right: 10px;
    color: grey;
}

.image-upload > input
{
    display: none;
}

.uploader_image{
	height: 50px;
    width: 50px;
	margin-left: 8px;
    margin-right: 25px;
}

.placeholder_image{
    height: 50px;
    width: 50px;
    margin-left: 13px;
    margin-right: 25px;
}

.media_container{
	display: flex;
    flex-direction: column;
    align-items: center;
}

.image_container{
	display: flex;
    width: 350px;
    height: 350px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.media_image{
	height: 350px;
    max-width: 350px;
}

.media_footer{
	padding: 10px;
	align-self: start;
}

.media_footer i{
	padding: 10px 20px;
}

.reactions{
	color: #fff;
}

.reactions .comment_text{
	font-weight: lighter;
    color: #ccc;
}

@media only screen and (max-width: 340px) {
	.uploader_image{
		margin-right: 10px !important;
	}

	.media_image{
		width: 100%;
	}

	.uploadedBy, .time{
		font-size: 14px !important;
	}
}