.guestlist_component{
	height: 90vh;
    padding: 10px;
    background-color: black;
    color: #fff;
    box-shadow: 0px 1px 2px;
}

.header{
    font-size: 18px;
}

.fa-chevron-left{
	margin-right: 20px;
}

.guest{
	display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
}

.guest img{
	width: 65px;
    height: 65px;
}

.requested{
	color: #5d5c5c;
}

.friend{
    visibility: hidden;
}