.top_nav{
	color: #e18047;
    background-color: black;
    border-bottom: 1px solid #8e8e8e;
    padding: 5px;
}

.save{
    float: right;
}

.fa{
    color: #e18047;
}

.other_profile_container{	
	text-align: center;
	background-color: black;
    padding-bottom: 55px;
}

img{
	max-width: 50%;
	border-radius: 50%;
}

.imageDiv{
	padding-top: 50px;
    padding-bottom: 25px;
    /* For now use placeholder image, later switch to user defined cover image */
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/4/4f/Toronto.Night.PNG);
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.userinfo_text_container{
	background-color: rgba(0, 0, 0, .8);
    padding: 10px;
    margin-top: 20px;
}

span.username{
	font-size: 20px;
}

.posts_and_friends{
	font-size: 14px;
}

.posts_and_friends .posts_count{
	margin-right: 40px;
}

.user_info form{
    margin: 30px 0px;
}

.user_info .form-group{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0px 10%;
}

.user_info input{
    background-color: black;
    border: none;
    border-bottom: 1px solid #e18047;
    color: #fff;
}

.submit_btn{ 
    background-color: #e18047;
    color: black; 
}