.messagesContainer{
	height: 100vh;
    background-color: black;
    color: white;
}

.message_top_nav{
	display: inline-flex;
	justify-content: space-between;
    width: 100%;
    padding: 10px;
    color: #ea7a3b;
}

.messages_list{

}

.message{
	padding: 10px;
	border-bottom: 1px solid #ccc;
	display: flex;
	align-items: center;
}

.sender_name{
	color: #ea7a3b;
}

.sender_image{
	height: 75px;
	width: 75px;
	border-radius: 5px;
}
.message_info_container{
	width: 100%;
}
.message_info{
	padding: 5px 10px;
	width: 100%;
}

.message_header{
	display: flex;
    justify-content: space-between;
}

.time_sent{
	color: #ccc;
	font-size: 13px;
}

.message_body{
	font-size: 15px;
    color: #ccc;
}

.new_comment{
	color: #ea7a3b;
	position: absolute;
    bottom: 80px;
    right: 20px;
}