<div>
	<!-- Search header -->
	<div class="search_header navbar sticky-top" role="navigation">
		<span [routerLink]="['/search-users']"><i class="fa fa-search" aria-hidden="true"></i></span>
		
		<span>
			<i class="fa fa-bars" placement="left" aria-hidden="true" (click)='helpPO.toggle($event)'>
		    </i>

		    <!-- Popover content -->
		    <!-- Consider moving this into a component -->
		    <pop-over #helpPO
		    	[y-offset]="10"
		    	[anchor-to]="true"
		    	[my]="'top right'"
		    	[at]="'bottom left'">

			   <div class="popover_container">
			       <ul class="legend_list">
			       		<li class="legend" (click)="filterRes('clubs')">
			       			<img src="assets/map_icons/red_MarkerO.png"> <span style="margin-left: 10px;">Clubs</span>
			       		</li>

			       		<li class="legend" (click)="filterRes('bars')" style="
			       			border-bottom: 1px solid #e18047;
    						padding: 2.5px 10px;
			       		">
			       			<img src="assets/map_icons/darkgreen_MarkerO.png"> <span style="margin-left: 10px;">Pubs/Bars</span>
			       		</li>

			       		<li class="legend" (click)="housePartiesPO.toggle($event)" style="
			       			border-bottom: 1px solid #e18047;
    						padding: 2.5px 10px;
			       		">
			       			<img src="assets/map_icons/blue_MarkerO.png"> <span style="margin-left: 10px;">House Parties</span>
			       		</li>

			       		<li class="legend" (click)="filterRes('events')" style="
			       			border-bottom: 1px solid #e18047;
    						padding: 2.5px 10px;
			       		">
			       			<img src="assets/map_icons/yellow_MarkerO.png"> <span style="margin-left: 10px;">Events</span>
			       		</li>

			       		<!-- popovers start -->
			       		<pop-over #housePartiesPO
					    	[y-offset]="10"
					    	[anchor-to]="true"
					    	[my]="'top right'"
					    	[at]="'bottom left'">
					    		<div class="popover_container"> 
						    		<ul class="legend_list">
						    			<li class="legend">
						    				<img src="assets/map_icons/blue_MarkerO.png"> <span style="margin-left: 10px;">Pre Parties</span>
						    			</li>

						    			<li class="legend">
						    				<img src="assets/map_icons/blue_MarkerO.png"> <span style="margin-left: 10px;">After Parties</span>
						    			</li>

						    			<li class="legend">
						    				<img src="assets/map_icons/blue_MarkerO.png"> <span style="margin-left: 10px;">House Parties</span>
						    			</li>
						    		</ul>
					    		</div>
					    </pop-over>
			       		<!-- popovers end -->
			       </ul>
			   </div>
			</pop-over>
	    </span>
	</div>

	<nav class="nav nav-pills nav-justified">
		<a class="nav-item nav-link" (click)="changeView('list')" [ngClass]="{'active': view === 'list'}">LIST</a>
		<a class="nav-item nav-link" (click)="changeView('map')" [ngClass]="{'active': view === 'map'}">MAP</a>
	</nav>

	<!-- Show results in list form based on selection above -->
		<div class="list-group search-results-list" *ngIf="view === 'list'">
			<div class="list-group-item" *ngFor="let venue of venues | async">
				<app-venue-details [venue]="venue.payload.val()" (click)="getVenue(venue)"></app-venue-details>
			</div>

			<!--
				<a class="searchIcon" md-fab (click)="openDialog()"><md-icon>add</md-icon></a>
			-->

			<div class="new_event_container">
				<i class="fa fa-plus-circle fa-4x" [routerLink]="['/create-event']"></i>
			</div>
		</div>
	<!-- List form results display end -->

	<!-- Map form results start -->
		<div class="map_results" *ngIf="view === 'map'">
			<!-- Map -->
			<ngui-map default-style="false" class="map">
				<!-- each venue has lat long position, set during creation -->
				<marker class="venues_marker" [ngClass]="{'hidden_marker': hideMarker !== 'clubs'}" *ngFor="let venue of venues | async" (click)="clicked($event, venue)" [position]="venue.payload.val().position"></marker>

		      	<marker class="events_marker" [ngClass]="{'hidden_marker': hideMarker !== 'events'}" *ngFor="let event of events | async" (click)="clicked($event, event)" 
		      		[position]="event.payload.val().position"
		      		[icon]="{
		      			url: 'https://firebasestorage.googleapis.com/v0/b/noteapp-436f9.appspot.com/o/google_maps_yellow_pin.png?alt=media&token=67fd1f65-0b78-4598-b06e-ee8a3501fbf1',
		      			anchor: [16,16],
						size: [32,32],
						scaledSize: [32,32]
		      		}"
		      	>
		      	</marker>

		      	<!-- Info window popup -->
		      	<info-window id="iw">
					<div class="display_window" *ngIf="marker.display">
					  <span>{{marker.address}}</span>
					  <span [routerLink]="['/venue/', marker.key]">{{marker.name}}</span>
					  <span>{{marker.description}}</span>
					  <span *ngIf="marker.date !== null">{{marker.date | date:'short'}}</span>

					  <!-- link to event details page, venues don't have a date -->
					  <a *ngIf="marker.date !== null" [routerLink]="['/event-details/', marker.key]">View event details</a>

					  <!-- Link to venue information page 
					  <a *ngIf="marker.date == null" [routerLink]="['/venue/', marker.key]">View venue details</a>-->
					</div>
				</info-window>

			</ngui-map>
		</div>
	<!-- Map form results end -->
</div>

<app-footer></app-footer>