<div>
	<!-- Search header -->
	<div class="search_header navbar sticky-top" role="navigation">
		<span [routerLink]="['/search-users']"><i class="fa fa-search" aria-hidden="true"></i></span>
		<span>location</span>
		<span><i class="fa fa-bars" aria-hidden="true"></i></span>
	</div>

	<nav class="nav nav-pills nav-justified">
		<a class="nav-item nav-link" (click)="changeView('list')" [ngClass]="{'active': view === 'list'}">LIST</a>
		<a class="nav-item nav-link" (click)="changeView('map')" [ngClass]="{'active': view === 'map'}">MAP</a>
	</nav>

	<!-- Show results in list form based on selection above -->
		<div class="list-group search-results-list" *ngIf="view === 'list'">
			<div class="list-group-item" *ngFor="let venue of venues | async">
				<app-venue-details [venue]="venue.payload.val()" (click)="getVenue(venue)"></app-venue-details>
			</div>

			<!--
				<a class="searchIcon" md-fab (click)="openDialog()"><md-icon>add</md-icon></a>
			-->

			<div class="new_event_container">
				<i class="fa fa-plus-circle fa-4x" [routerLink]="['/create-event']"></i>
			</div>
		</div>
	<!-- List form results display end -->

	<!-- Map form results start -->
		<div class="map_results" *ngIf="view === 'map'">
			<!-- Map -->
			<ngui-map>
				<!-- each venue has lat long position, set during creation -->
				<marker *ngFor="let venue of venues | async" [position]="venue.payload.val().position"></marker>
			</ngui-map>
		</div>
	<!-- Map form results end -->
</div>

<app-footer></app-footer>