<div class="container notifications_container">
	
	<div class="invites_container">

		<h5>Events you were invited to: </h5>

		<div *ngFor="let invite of invites | async">

			<div class="invite_info" [routerLink]="['/event-details', invite.payload.val().event]">
				<span>{{invite.payload.val().event | eventInfoFilter:'name' | async}}</span>

				<span>{{invite.payload.val().event | eventInfoFilter:'date' | async | date:'medium'}}</span>
			</div>
		</div>

		<!-- Not showing up for some reason
			<div *ngIf="!invites">
				<p>You have no new notifications</p>
			</div>
		-->

		<div class="friend_requests">
			<h5>Pending Friend Requests: </h5>

			<!-- repeat for each friend request -->
			<div class="request" *ngFor="let request of requests | async">
				
				<img class="sender_image" [src]="request.payload.val().from | userImageUrl | async">

				<span class="sender_name">{{request.payload.val().from | userDisplayName | async}}</span>

				<i class="fa fa-check fa-2x" aria-hidden="true" (click)="accept(request);"></i>

				<i class="fa fa-times fa-2x" aria-hidden="true" (click)="reject(request.payload.val().from);"></i>
			</div>
		</div>
	</div>
</div>