<nav class="navbar fixed-top user_profile_header">
	<i class="fa fa-lg fa-envelope-o" aria-hidden="true" routerLink='/messages'></i>
	
	<div class="dropdown" ngbDropdown>	
		<!--
			<i class="fa fa-lg fa-ellipsis-v btn" type="button" id="dropDownMenuButton" aria-hidden="true" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle></i>
		-->

		<a class="nav-link dropdown-toggle" id="dropDownMenuButton" ngbDropdownToggle>Settings</a>

		<div class="dropdown-menu" aria-labelledy="dropDownMenuButton" ngbDropdownMenu>
			<a class="dropdown-item" (click)="logOut();"> <i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
			<a class="dropdown-item" [routerLink]="['/user-profile', currentUser.uid]"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Profile </a>
			<a class="dropdown-item" [routerLink]="['/payment-information']"> <i class="fa fa-credit-card" aria-hidden="true"></i>Payment</a>
		</div>
	</div>
</nav>

<div class="userProfile">
	<div class="imageDiv">
		<img class="user-image" [src]="currentUser.uid | userImageUrl | async">

		<div class="userinfo_text_container">
			<span class="username">{{currentUser.displayName}}</span>

			<div class="posts_and_friends">
				<span class="posts_count">Posts: {{postsCount}}</span>
				<span (click)="viewFriends();">Friends: {{friendCount}}</span>
			</div>
		</div>
	</div>

	<!-- sub nav for transitioning between user profile views -->
	<nav class="navbar user_profile_subnav">

		<span class="nav-item" routerLink='/profile/my-photos' routerLinkActive="active">
			<i class="fa fa-lg fa-camera" aria-hidden="true"></i>
		</span>

		<span class="nav-item" routerLink='/profile/notifications' routerLinkActive="active">
			<i class="fa fa-lg fa-bell" aria-hidden="true"></i>
		</span>

		<span class="nav-item" routerLink='/profile/upcoming-events' routerLinkActive="active">
			<i class="fa fa-lg fa-calendar" aria-hidden="true"></i>
		</span>

		<span class="nav-item" routerLink='/profile/my-events' routerLinkActive="active">
			<i class="fa fa-lg fa-user-secret" aria-hidden="true"></i>
		</span>

	</nav>

</div>

<!-- Dynamic section of user profile -->
<div class="dynamic_section">	
	<router-outlet></router-outlet>
</div>
<!-- Dynamic section of user profile ends -->

<app-footer></app-footer>